@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
  font-family: 'Montserrat', sans-serif;
}

.header{
  padding: 1.5em;
  text-align: center;
  background: black;
  color: white;
}

.userInput{
  padding: 0.5em;
  text-align: center;
}

#ageInput{
  width: 50px;
  font-size: 18px;
}

#btnDamage{
  margin-top: 0.5em;
  padding: 0.5em;
}

ul{
  -webkit-padding-end: 40px;
}

#spacer{
  width: 100%;
  text-align: center;
}

.explanationText{
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 5em;
  text-align: left;
  display: inline-block;
  font-size: 18px;
}
