<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <h1>
    Ultimate Deadline
  </h1>
  <h2>A visual representation of your remaining (life)time to get things done.</h2>
</div>

<div class="userInput">
I am
<input id="ageInput" type="number" [(ngModel)]="age" min="1" max="80">
years old.
<br>
<input id="btnDamage" type="button" value="Show me the damage" (click)="checkAllUsedWeeks()"> <br>
</div>
<ul id="weeksList">
</ul>
<div id="spacer">
<div id="exp" class="explanationText">
  <p id="expPara"></p>
</div>
</div>

